In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lufilufi,-13.8745,-171.5986,80.67,75,39,23.09,WS,2022-07-18 19:02:07
1,1,Lagoa,39.0500,-27.9833,70.65,87,95,11.56,PT,2022-07-18 19:00:27
2,2,Naze,28.3667,129.4833,80.38,87,100,17.72,JP,2022-07-18 19:02:08
3,3,Saint George,37.1041,-113.5841,98.64,28,74,3.00,US,2022-07-18 18:58:22
4,4,Zhigansk,66.7697,123.3711,52.38,91,100,13.51,RU,2022-07-18 19:02:08

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
    #locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.*******
    #temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
    #fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
    #heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
    #fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
    #fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lufilufi,-13.8745,-171.5986,80.67,75,39,23.09,WS,2022-07-18 19:02:07
1,1,Lagoa,39.0500,-27.9833,70.65,87,95,11.56,PT,2022-07-18 19:00:27
2,2,Naze,28.3667,129.4833,80.38,87,100,17.72,JP,2022-07-18 19:02:08
5,5,Rikitea,-23.1203,-134.9692,74.35,78,36,12.80,PF,2022-07-18 19:02:09
6,6,Avarua,-21.2078,-159.7750,71.65,83,75,3.44,CK,2022-07-18 19:00:19
10,10,Biankouma,7.7391,-7.6138,71.53,90,48,4.16,CI,2022-07-18 19:02:10
11,11,Torbay,47.6666,-52.7314,79.88,58,9,11.36,CA,2022-07-18 19:02:10
14,14,Birao,10.2849,22.7882,75.92,76,85,2.59,CF,2022-07-18 19:02:11
18,18,Poum,-20.2333,164.0167,73.17,90,38,11.27,NC,2022-07-18 19:02:13
21,21,Hay River,60.8156,-115.7999,71.37,44,21,7.63,CA,2022-07-18 19:02:14

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0    Lufilufi      WS     80.67 -13.8745 -171.5986
1       Lagoa      PT     70.65  39.0500  -27.9833
2        Naze      JP     80.38  28.3667  129.4833
5     Rikitea      PF     74.35 -23.1203 -134.9692
6      Avarua      CK     71.65 -21.2078 -159.7750
10  Biankouma      CI     71.53   7.7391   -7.6138
11     Torbay      CA     79.88  47.6666  -52.7314
14      Birao      CF     75.92  10.2849   22.7882
18       Poum      NC     73.17 -20.2333  164.0167
21  Hay River      CA     71.37  60.8156 -115.7999

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [14]:
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0    Lufilufi      WS     80.67 -13.8745 -171.5986
1       Lagoa      PT     70.65  39.0500  -27.9833
2        Naze      JP     80.38  28.3667  129.4833
5     Rikitea      PF     74.35 -23.1203 -134.9692
6      Avarua      CK     71.65 -21.2078 -159.7750
10  Biankouma      CI     71.53   7.7391   -7.6138
11     Torbay      CA     79.88  47.6666  -52.7314
14      Birao      CF     75.92  10.2849   22.7882
18       Poum      NC     73.17 -20.2333  164.0167
21  Hay River      CA     71.37  60.8156 -115.7999

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))