## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. *****
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Arraial Do Cabo,BR,2022-07-20 21:33:27,-22.9661,-42.0278,71.56,88,75,9.22,broken clouds
1,1,Kapaa,US,2022-07-20 21:32:15,22.0752,-159.3190,82.72,72,20,17.27,few clouds
2,2,Acapulco,MX,2022-07-20 21:32:28,16.8634,-99.8901,87.62,74,75,4.61,broken clouds
3,3,Bredasdorp,ZA,2022-07-20 21:30:53,-34.5322,20.0403,45.43,87,1,4.99,clear sky
4,4,Lebu,CL,2022-07-20 21:34:53,-37.6167,-73.6500,52.83,96,100,10.07,overcast clouds

In [3]:
new_column_order = ["City", "Country", "Max Temp", "Description","Lat", "Lng","Humidity", "Cloudiness", "Wind Speed","Date",]
#new_column_order
new_city_data_df = city_data_df[new_column_order]
print (new_city_data_df)

                City Country  Max Temp      Description      Lat       Lng  \
0    Arraial Do Cabo      BR     71.56    broken clouds -22.9661  -42.0278
1              Kapaa      US     82.72       few clouds  22.0752 -159.3190
2           Acapulco      MX     87.62    broken clouds  16.8634  -99.8901
3         Bredasdorp      ZA     45.43        clear sky -34.5322   20.0403
4               Lebu      CL     52.83  overcast clouds -37.6167  -73.6500
..               ...     ...       ...              ...      ...       ...
684            Pital      CO     67.05  overcast clouds   2.2665  -75.8044
685           Riyadh      SA     95.14    broken clouds  24.6877   46.7219
686          Manggar      ID     80.31  overcast clouds  -2.8833  108.2667
687        Tecoanapa      MX     86.43  overcast clouds  16.5167  -98.7500
688          Dunedin      NZ     43.81  overcast clouds -45.8742  170.5036

     Humidity  Cloudiness  Wind Speed                 Date
0          88          75        9.22  2022-07-20 21:33:27
1          72          20       17.27  2022-07-20 21:32:15
2          74          75        4.61  2022-07-20 21:32:28
3          87           1        4.99  2022-07-20 21:30:53
4          96         100       10.07  2022-07-20 21:34:53
..        ...         ...         ...                  ...
684        89         100        4.79  2022-07-20 21:52:25
685        10          75        8.48  2022-07-20 21:48:19
686        84          90       12.39  2022-07-20 21:52:26
687        68         100        7.11  2022-07-20 21:52:26
688        71         100       15.01  2022-07-20 21:50:10

[689 rows x 10 columns]

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = new_city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Humidity,Cloudiness,Wind Speed,Date
0,Arraial Do Cabo,BR,71.56,broken clouds,-22.9661,-42.0278,88,75,9.22,2022-07-20 21:33:27
1,Kapaa,US,82.72,few clouds,22.0752,-159.3190,72,20,17.27,2022-07-20 21:32:15
9,Parli,IN,76.39,overcast clouds,18.8486,76.5297,82,100,10.45,2022-07-20 21:34:54
14,Abeche,TD,74.08,light rain,13.8292,20.8324,74,100,15.19,2022-07-20 21:34:55
16,Nikolskoye,RU,67.87,overcast clouds,59.7035,30.7861,65,100,9.51,2022-07-20 21:28:30
19,Anqing,CN,78.33,overcast clouds,30.5092,117.0506,96,100,3.89,2022-07-20 21:34:56
20,Hamza,UZ,80.55,clear sky,40.4264,71.4956,17,0,1.86,2022-07-20 21:34:56
22,Bengkulu,ID,75.58,broken clouds,-3.8004,102.2655,91,64,3.65,2022-07-20 21:34:57
23,Tautira,PF,76.42,clear sky,-17.7333,-149.1500,72,0,9.93,2022-07-20 21:34:57
24,Faanui,PF,77.99,clear sky,-16.4833,-151.7500,65,0,9.55,2022-07-20 21:33:48

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull()

,City,Country,Max Temp,Description,Lat,Lng,Humidity,Cloudiness,Wind Speed,Date
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
678,False,False,False,False,False,False,False,False,False,False
682,False,False,False,False,False,False,False,False,False,False
683,False,False,False,False,False,False,False,False,False,False
684,False,False,False,False,False,False,False,False,False,False
686,False,False,False,False,False,False,False,False,False,False

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()
clean_df= preferred_cities_df.dropna()
clean_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Humidity,Cloudiness,Wind Speed,Date
0,Arraial Do Cabo,BR,71.56,broken clouds,-22.9661,-42.0278,88,75,9.22,2022-07-20 21:33:27
1,Kapaa,US,82.72,few clouds,22.0752,-159.3190,72,20,17.27,2022-07-20 21:32:15
9,Parli,IN,76.39,overcast clouds,18.8486,76.5297,82,100,10.45,2022-07-20 21:34:54
14,Abeche,TD,74.08,light rain,13.8292,20.8324,74,100,15.19,2022-07-20 21:34:55
16,Nikolskoye,RU,67.87,overcast clouds,59.7035,30.7861,65,100,9.51,2022-07-20 21:28:30

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Description","Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_df["Hotel Name"] = ""
clean_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
0,Arraial Do Cabo,BR,71.56,broken clouds,-22.9661,-42.0278,88,75,9.22,2022-07-20 21:33:27,
1,Kapaa,US,82.72,few clouds,22.0752,-159.3190,72,20,17.27,2022-07-20 21:32:15,
9,Parli,IN,76.39,overcast clouds,18.8486,76.5297,82,100,10.45,2022-07-20 21:34:54,
14,Abeche,TD,74.08,light rain,13.8292,20.8324,74,100,15.19,2022-07-20 21:34:55,
16,Nikolskoye,RU,67.87,overcast clouds,59.7035,30.7861,65,100,9.51,2022-07-20 21:28:30,
19,Anqing,CN,78.33,overcast clouds,30.5092,117.0506,96,100,3.89,2022-07-20 21:34:56,
20,Hamza,UZ,80.55,clear sky,40.4264,71.4956,17,0,1.86,2022-07-20 21:34:56,
22,Bengkulu,ID,75.58,broken clouds,-3.8004,102.2655,91,64,3.65,2022-07-20 21:34:57,
23,Tautira,PF,76.42,clear sky,-17.7333,-149.1500,72,0,9.93,2022-07-20 21:34:57,
24,Faanui,PF,77.99,clear sky,-16.4833,-151.7500,65,0,9.55,2022-07-20 21:33:48,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [18]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=clean_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
0,Arraial Do Cabo,BR,71.56,broken clouds,-22.9661,-42.0278,88,75,9.22,2022-07-20 21:33:27,
1,Kapaa,US,82.72,few clouds,22.0752,-159.3190,72,20,17.27,2022-07-20 21:32:15,
9,Parli,IN,76.39,overcast clouds,18.8486,76.5297,82,100,10.45,2022-07-20 21:34:54,
14,Abeche,TD,74.08,light rain,13.8292,20.8324,74,100,15.19,2022-07-20 21:34:55,
16,Nikolskoye,RU,67.87,overcast clouds,59.7035,30.7861,65,100,9.51,2022-07-20 21:28:30,

In [19]:
# 8a. 
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
clean_hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=clean_hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))